/Hearts Client/nbproject/private/private.properties
/Hearts Definitions/nbproject/private/private.properties
/Hearts Judge/nbproject/private/private.properties
/Hearts Protocol/nbproject/private/private.properties
/Hearts Server/nbproject/private/private.properties
/Hearts Storage/nbproject/private/private.properties
